<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title>404</title>
  <meta name="description" content="Unicorn + Sinatra + AMQP">
  <meta name="author" content="Sean Eshbaugh">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css">
  <link href="/stylesheets/screen.css" media="all" rel="stylesheet" type="text/css">
  <script src="/javascripts/jquery-2.0.3.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/application.js"></script>
  <link href="/favicon.ico" rel="shortcut icon">
  <link href="/humans.txt" rel="author">
</head>
<body>
  <main id="content" class="container">
    <h1 class="lead text-center">404 - Not Found</h1>
  </main>
</body>
</html>
